.container {
  margin: 28px;
  display: flex;
  flex-direction: column;
}
.container h1 {
  margin-top: 10px;
  font-size: large;
}

.text-slider {
  display: flex;
  flex-direction: row;
}
.text-slider h1 {
  width: 100%;
}
.left {
  text-align: right;
}
