.preview-container {
    margin: 0 0 0 0;
    text-align: left;
}

.preview-container h1 {
    margin-bottom: 20px;
}

#previewImg {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ccc;
}
